*{
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}
h1{
  font-family: "Oswald", sans-serif;
}
.nav-item > .nav-link {
    color:#ffffff;

}
.navbar,.navbar-brand > img {

    background-color: #344CB7;
}
.collapse > ul > li {
    margin: 0 5px;
    
}
.collapse > ul > li > a:hover {
    color:#000957;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0.1rem;
}
.gangofthree{
    color: red;
}
.carousel-inner img {
  height: 900px; 
  width: 900px;        
} 